**/.ipynb_checkpoints
speach recognition
whatsapp data/whatsapp_data_trial_and_error.ipynb
whatsapp data/data/WhatsApp Chat - xxx xxx.zip
whatsapp data/data/_chat.txt
iphone health data
groundwater model/model
groundwater model\results\plot_gws_rch.gif